.card-panel {
  padding: 70px;
}

.card-panel h2 {
  margin-top: 0px;
}

input[type="button"], input[type="submit"] {
  margin-top: 50px;
  background: #2288ee;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
}

input[type="button"]:hover, input[type="submit"]:hover {
  background: #1144ee;
}

input[name="next"] {
  /* float: right; */
}

input[type="button"]:disabled {
  background: gray;
}

h2 {
  font-size: 20px;
}
