.card-panel {
  padding: 70px;
}

.card-panel h2 {
  margin-top: 0px;
}

#pagination {
  display: inline-block;
}

#reset {
  margin:0px;
  border-radius: 0px;
}

.page-marker {
  color: white;
  font-size: 15px;
  display: inline-block;
  width: 37px;
  background: #ccc;
  border-radius: 20px;
  padding: 8px 0px;
  margin: 0px 2px;
  text-align: center;
}

input[type="button"], input[type="submit"] {
  margin: 50px 5px;
  background: #2288ee;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
}

input[type="button"]:hover, input[type="submit"]:hover {
  background: #1144ee;
}

input[name="next"] {
  /* float: right; */
}

input[type="button"]:disabled {
  background: gray;
}

h1 {
  font-size: 42px;
  margin: 5px 0px 50px 0px;
}

h2 {
  font-size: 20px;
}

img {
  max-width: 250px;
  display: block;
  border-radius: 125px;
  margin: auto;
}
